# ============================
# === GLOBAL CONFIGURATION ===
# ============================
NODE_ENV=development

# URL FRONTEND 
FRONTEND_URL=http://localhost:3000
# URL API Gateway
NEXT_PUBLIC_API_URL=http://localhost:8080

# Auth service url
AUTH_SERVICE_URL=http://localhost:4001
# Problem service url
PROBLEM_SERVICE_URL=http://localhost:4002
# Notification service url
NOTIFICATION_SERVICE_URL=http://localhost:4003
# AI service url
AI_SERVICE_URL=http://localhost:4006
# Achievement service url
ACHIEVEMENT_SERVICE_URL=http://localhost:4005

# ==============================
# === INFRASTRUCTURE PORTS ===
# ==============================

# Core Services
API_GATEWAY_PORT=8080
FRONTEND_PORT=3000
KEYCLOAK_PORT=8090
SWAGGER_DOCS_PORT=4050

# Database and Caches
AUTH_DB_PORT=5432
PROBLEM_DB_PORT=5433
NOTIFICATION_DB_PORT=5434
AI_DB_PORT=5435
AUTH_REDIS_PORT=6379
PROBLEM_REDIS_PORT=6380
TRAEFIK_API_PORT=8081


# ===================================
# === CROSS SERVICE CONFIGURATION ===
# ===================================
KEYCLOAK_URL="http://localhost:8090"
KEYCLOAK_INTERNAL_URL="http://localhost:8090"
GITHUB_CLIENT_SECRET="change_me_github_client_secret"


# ===================================
# === AUTH SERVICE CONFIGURATION ===
# ===================================
AUTH_PORT=4001

# Database Connection (localhost)
AUTH_DB_USER=postgres
AUTH_DB_PASSWORD=postgres
AUTH_DB_NAME=gitcode_auth
AUTH_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/gitcode_auth"

# Redis Connection (localhost)
AUTH_REDIS_URL="redis://localhost:6379"

# OAuth Callbacks
API_CALLBACK_AUTH_URL="http://localhost:4001/auth/callback"
API_CALLBACK_ACCOUNT_URL="http://localhost:4001/auth/account/callback"


# =====================================
# === PROBLEM SERVICE CONFIGURATION ===
# =====================================
PROBLEM_PORT=4002

# Database Connection (localhost)
PROBLEM_DB_USER=postgres
PROBLEM_DB_PASSWORD=postgres
PROBLEM_DB_NAME=problems_db
PROBLEM_DATABASE_URL="postgresql://postgres:postgres@localhost:5433/problems_db"

# Redis Connection (localhost)
PROBLEM_REDIS_URL="redis://localhost:6380"

# Supported Languages for Code Execution
LANGUAGES_SUPPORTED="python,javascript"

# ================================
# === NOTIFICATION SERVICE =======
# ================================
NOTIFICATION_PORT=4003

# Database Connection (localhost)
NOTIFICATION_DB_USER=postgres
NOTIFICATION_DB_PASSWORD=postgres
NOTIFICATION_DB_NAME=notification_db
NOTIFICATION_REDIS_URL="redis://localhost:6381"
NOTIFICATION_REDIS_PORT=6381
NOTIFICATION_DATABASE_URL="postgresql://postgres:postgres@localhost:5434/notification_db"

# ================================
# === ACHIEVEMENT SERVICE =======
# ================================
ACHIEVEMENT_PORT=4005

# Database Connection (localhost)
ACHIEVEMENT_DB_USER=postgres
ACHIEVEMENT_DB_PASSWORD=postgres
ACHIEVEMENT_DB_NAME=achievement_db

ACHIEVEMENT_DB_PORT=5437
ACHIEVEMENT_DATABASE_URL="postgresql://postgres:postgres@localhost:5437/achievement_db"


# ===================
# === AI SERVICE  ===
# ===================
AI_PORT=4006
ENVIRONMENT=development

OPENROUTER_API_KEY="YOUR_OPENROUTER_API_KEY_HERE"
OPENROUTER_BASE_URL="https://openrouter.ai/api/v1"

DEFAULT_MODEL="openai/gpt-oss-120b"
AVAILABLE_MODELS="openai/gpt-oss-120b,google/gemini-2.5-flash-lite,openai/gpt-4o-mini,x-ai/grok-4-fast,qwen/qwen3-235b-a22b-2507,meta-llama/llama-3.1-8b-instruct,deepseek/deepseek-chat-v3.1"

AI_DB_USER=postgres
AI_DB_PASSWORD=postgres
AI_DB_NAME=ai_service_db
AI_DATABASE_URL="postgresql://postgres:postgres@localhost:5435/ai_service_db"


# ==============================
# === RABBITMQ CONFIGURATION ===
# ==============================
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_URL="amqp://guest:guest@localhost:5672/"

RABBITMQ_EXCHANGE_NAME="gitcode_exchange"

NOTIFICATION_QUEUE_NAME="notification_queue"
AI_QUEUE_NAME="ai_queue"


# =============================
# === SHARED SECURITY (JWT) ===
# =============================
JWT_SECRET="your-super-secret-jwt-key-change-me-in-production"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
JWT_ALGORITHM="HS256"

# ===============================
# === KEYCLOAK INFRASTRUCTURE === 
# ===============================
KEYCLOAK_DB_NAME=keycloak_db
KEYCLOAK_DB_USER=keycloak_user
KEYCLOAK_DB_PASSWORD=change_me_keycloak_password
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_REALM="gitcode-dev"
KEYCLOAK_CLIENT_ID="gitcode-auth-service"
KEYCLOAK_CLIENT_SECRET="change_me_client_secret"



# ================================
# === INTERNAL SERVICE KEYS ======
# ================================

INTERNAL_API_KEY=your-super-secret-key-change-in-production

# ================================
# ======= GITHUB SERVICE  ========
# ================================
GITHUB_PORT=4004
GITHUB_SERVICE_URL=http://localhost:4004
GITHUB_API_URL=https://api.github.com
GITHUB_DEFAULT_REPO_NAME=gitcode-solutions
GITHUB_DEFAULT_REPO_DESCRIPTION="Repository for GitCode.dev user solutions "
GITHUB_DB_USER=postgres
GITHUB_DB_PASSWORD=postgres
GITHUB_DB_NAME=gitcode_github_db
GITHUB_DB_PORT=5436
GITHUB_DATABASE_URL="postgresql://postgres:postgres@localhost:5436/gitcode_github_db"
GITHUB_QUEUE_NAME="github_queue"
# Encryption Key for sensitive data
ENCRYPTION_KEY=ceb3949fb322ddc25380c18449bb46f42c26e36cc6bd0f3c0d2abe6678683364