@import 'tailwindcss';
@theme {
  --color-primary: #8b5cf6;
  --color-foreground: #f9fafb;
  --color-background: #111827;
  --color-accent: #ec4899;
  --color-success: #22c55e;
  --color-error: #ef4444;
}
