# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.


# Application
PORT=4002
NODE_ENV=development

# Database
DATABASE_URL=postgresql://postgres:postgres@problem-db:5432/problems_db

# Redis
REDIS_HOST=problem-redis
REDIS_PORT=6379
REDIS_URL=redis://problem-redis:6379

# JWT
JWT_SECRET="your_super_secret_jwt_key_change_this_in_production"
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Supported Languages
LANGUAGES_SUPPORTED="python,javascript"

# Frontend URL
FRONTEND_URL=http://localhost:3000

# API Gateway
API_GATEWAY_URL=http://api-gateway:8080